<html>
<head>
<style type="text/css">
<!--
# main_poem {
  width: 66%;
  margin:0px auto;
}
# side_poem {
  float: right;
  width: 175px;
}
p {
  text-align:center;
 }
-->
</style>
</head>
<body>
<div id="main_poem">
<p><% main.title %></p><br />
<p><% main.author %></p><br />
<p><% main.content %></p>
</div>
<div id="side_poem">
<p><% relate.title %></p><br />
<p><% relate.author %></p><br />
<p><% relate.content %></p>
</div>
